@charset "UTF-8";

input.mm-sua-attachment-id {
    display: none;
}

div.mm-sua-attachment-image img {
    width: 96px;
    height: auto;
    border: 1px solid #e1e1e1;
    padding: 3px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 10px;
    cursor: pointer;
}

table.form-table tr.user-profile-picture {
    display: none;
}