@charset "utf-8";

/* Hide WP default avatar */
table.form-table tr.user-profile-picture,
input.mm-sua-attachment-id {
    display: none;
}

/* Set style for avatar figure, figcaption and image */
figure.mm-sua-attachment-image {
    margin: 0;
}

figure.mm-sua-attachment-image img {
    width: 96px;
    height: auto;
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    cursor: pointer;
    padding: 3px;
    margin-bottom: 10px;
}

figure.mm-sua-attachment-image figcaption {
    margin-bottom: 10px;
    color: #666;
}

/* Set style for remove button */
button#mm-sua-remove-media:hover,
button#mm-sua-remove-media {
    background-color: #990000;
    border-color: #560303;
    box-shadow: 0 1px 0 #560303;
    color: white;
}

button#mm-sua-remove-media:hover {
    background-color: #b40000;
}

.hidden {
    display: none;
}
