@charset "utf-8";

/* Hide WordPress default avatar */
.user-profile-picture {
    display: none;
}

/* Set style for the avatar picture */
.sua-attachment-avatar {
    border-radius: 1px;
    cursor: pointer;
}

/* Set style for buttons */
#btn-media-remove,
#btn-media-remove:hover {
    background: #990000;
    border-color: #560303;
    color: white;
}

#btn-media-remove:hover {
    background: #b40000;
}

#btn-media-remove:focus {
    box-shadow: 0 0 0 1px #560303;
}

/* Fix the square size of avatars in /wp-admin */
img.avatar {
    object-fit: cover;
}
